<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tela de Login</title>
<link rel="stylesheet" href="css_user/login.css"> <!-- Link para o arquivo CSS -->
</head>
<body>
<div class="login-container">
<div class="image-section">
<img src="barberservice.jpeg" alt="Logo">
</div>
<div class="form-section">
<h2>Seja Bem - Vindo!</h2>
<form>
<input type="email" placeholder="Digite seu Email" required>
<input type="password" placeholder="Digite sua Senha" required>
<button type="submit">Fazer Login</button>
</form>
<div class="social-icons">
<a href="#"><i class="fab fa-whatsapp"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</body>
</html>