<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">

<head>
    <title>Detalhes do Usuário</title>
</head>

<body>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <fieldset>
                            <legend>Detalhes do Agendamento</legend>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cliente</label>
                                        <p th:text="${agendamento.cliente.nome}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Barbeiro</label>
                                        <p th:text="${agendamento.barbeiro.nome}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Serviço</label>
                                        <p th:text="${agendamento.servicoDescricao}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Data e Hora</label>
                                        <p th:text="${#dates.format(agendamento.data, 'dd/MM/yyyy HH:mm')}"></p>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="card-footer">
                        <a href="/agendamento/listar" class="btn btn-secondary">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:fragment="scripts">
        <script th:src="@{/js/avatar.min.js}"></script>
        <script>
            const email = document.getElementById("email").innerText;
            const avatar = Avatar.from(document.getElementById('profile-user-img'), {
                'email': email
            });
        </script>
    </th:block>
</body>

</html>