<!DOCTYPE html>
<html lang="pt-br" th:replace="~{layout :: layout (~{::title}, ~{::main}, ~{::styles}, ~{::scripts})}">

<th:block th:fragment="styles">
  <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</th:block>

<head>
  <title>Agende seu Horário!</title>
</head>

<body>
  <main>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <form method="POST" action="/agendamento/cadastrar">
            <input type="hidden" name="barbeiroId" th:value="${barbeiro.id}">
            <div class="card-body">
              <fieldset>
                <legend>Agende seu Horário!</legend>

                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="clienteId">Cliente</label>
                      <select name="clienteId" id="clienteId" class="form-control select2bs4" style="width: 100%">
                        <th:block th:each="cliente : ${clientes}">
                          <option th:value="${cliente.id}" th:text="${cliente.nome}"></option>
                        </th:block>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="servicoDescricao">Serviço</label>
                      <select name="servicoDescricao" id="servicoDescricao" class="form-control select2bs4" style="width: 100%">
                        <option value="Barba">Barba</option>
                        <option value="Corte Máquina">Corte Máquina</option>
                        <option value="Corte Tesoura">Corte Tesoura</option>
                        <option value="Sobrancelha">Sobrancelha</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <label for="data">Data e Hora</label>
                        <input type="datetime-local" name="data" id="data" class="form-control" required>
                      </div>
                    </div>
                  </div>
              </fieldset>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Agendar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <th:block th:fragment="scripts">
  </th:block>
</body>
</html>
