#navbar {
    background-color: #87ADAE; /* Cor de fundo da barra */
    padding: 10px 20px;
}
.logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.logo img {
    height: 50px; /* Tamanho da imagem */
    width: 50px; /* Garante que seja um círculo perfeito */
    border-radius: 50%; /* Torna a imagem circular */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    object-fit: cover; /* Garante que a imagem se ajuste bem no círculo */}